<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>1. Upload files</h2>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="files" multiple>
                <button class="btn" type="submit">Upload</button>
            </form>

            {% if results %}
                <div class="uploaded-files">
                    <span class="status">Loaded files</span>
                    <ul>
                        {% for item in results %}
                            <li>{{ item.filename }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        {% if results %}
        <div class="card">
            <form action="/ask" method="post">
                <input type="text" name="question" placeholder="Ask a question regarding uploaded document.">
                <button class="btn" type="submit">Ask</button>
            </form>
            
        </div>
        {% endif %}
    </div>
    



</body>
</html>